@import "../../styles/variables.scss";

.test__section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 5% 0;
    box-sizing: border-box;
    min-height: 100vh;

    &--main {
        @extend .test__section;
        min-height: calc(100vh - 130px);
    }

    &--reverse {
        @extend .test__section;
        flex-direction: column-reverse;

        .test__section__image {
            display: flex;
            justify-content: center;
        }
    }

}

.test__section__text {
    padding: 5%;
}

.test__section__image {
    width: 100%;

    img {
        width: 100%;
        max-width: fit-content;
    }
}


.test__section__testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 5%;
    box-sizing: border-box;
    min-height: 100vh;
}

.test__section__trendig {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 5%;
    box-sizing: border-box;
    min-height: 100vh;
}


@media only screen and (min-width: $screen-md) {

    .test__section,
    .test__section__testimonials,
    .test__section__trendig {
        //background-color: rgba(0, 0, 255, .05);
        max-width: $screen-xl;
    }

    .test__section--reverse {
        flex-direction: row;

        .test__section__image {
            display: flex;
            justify-content: flex-end;
        }
    }

    .test__section__text {
        width: 50%;
    }

}



.test>.plus-dot{
    position: absolute;
    margin:0 auto;
    width: 100%;
    z-index: 89;

    > div{
        display: block;
        position: absolute;
        left:50%;
        width: 25px;
        height: 25px;
        background-size: 25px;
    }

    .plus{
        background-image: url('/img/plus.svg');
    }
    .dot{
        background-image: url('/img/dot.svg');
    }

    div:nth-child(1){
        @extend .plus;
        top:190px;
        transform: translateX(-140px) rotate(-13deg) translate3d(0, 0, 0);
    }
    div:nth-child(2){
        @extend .dot;
        top:450px;
        transform: translateX(-620px);
    }
    div:nth-child(3){
        @extend .dot;
        top:720px;
        transform: scale(.8);
    }
    div:nth-child(4){
        @extend .plus;
        top:1060px;
        transform: translateX(70px);
    }
    div:nth-child(5){
        @extend .dot;
        top:1550px;
        transform: translateX(550px) scale(.8);
    }
    div:nth-child(6){
        @extend .plus;
        top:2190px;
        transform: translateX(650px);
    }
    div:nth-child(7){
        @extend .dot;
        top:2270px;
        transform: translateX(-550px);
    }
    div:nth-child(8){
        @extend .plus;
        top:2600px;
        transform: translateX(-100px) rotate(15deg) translate3d(0, 0, 0);
    }
    div:nth-child(9){
        @extend .dot;
        top:3250px;
        transform: translateX(550px) scale(1.5);
        z-index: -1;
    }
    div:nth-child(10){
        @extend .dot;
        top:3450px;
        transform: translateX(-680px) scale(.8);
    }
    div:nth-child(11){
        @extend .plus;
        top:3730px;
        transform: translateX(200px) scale(1.3);
    }
    div:nth-child(12){
        @extend .plus;
        top:4050px;
        transform: translateX(-250px) rotate(-3deg) translate3d(0, 0, 0);
    }
    div:nth-child(13){
        @extend .dot;
        top:4350px;
        transform: translateX(-630px);
    }
    div:nth-child(14){
        @extend .dot;
        top:4770px;
        transform: translateX(200px);
    }


    // @for $i from 1 through 50{
    //     div:nth-child(#{$i}){
    //         left: random(200) + px;
    //         top: random(200) + px;
    //     }
    // }

}