@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Mulish:wght@300;400&family=Playfair+Display:wght@700&display=swap');

$color-primary: #FB8F1D;

// Screens
$screen-sm: 480px;
$screen-md: 720px;
$screen-lg: 960px;
$screen-xl: 1280px;