@import "../../styles/variables.scss";


.home__section {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    min-height: 100vh;
    padding: 5% 0;

    &--main {
        @extend .home__section;
        min-height: calc(100vh - 130px);
    }

    &--reverse {
        @extend .home__section;
        flex-direction: column-reverse;

        .home__section__image {
            display: flex;
            justify-content: center;
        }
    }

}

.home__section__text {
    //padding: 5%;
}

.home__section__image {
    display: flex;
    justify-content: flex-start;
    width: 100%;

    img {
        max-width: fit-content;
        width: 100%;
    }
}


.home__section__testimonials {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: $screen-xl;
    min-height: 100vh;
    padding: 15% 5%;
}

.home__section__trendig {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: $screen-xl;
    min-height: 100vh;
    padding: 15% 5%;
}

.home__section__trendig__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;

    h2 {
        margin: 0;
    }
}

@media only screen and (min-width: $screen-md) {
    .home__section {
        align-items: center;
        justify-content: space-between;
    }

    .home__section__testimonials,
    .home__section__trendig {
        //background-color: rgba(0, 0, 255, .05);
        padding: 5%;
    }

    .home__section--reverse {
        flex-direction: row;

        .home__section__image {
            display: flex;
            justify-content: flex-end;
        }
    }

    .home__section__text {
        width: 50%;
    }

    .home__section__trendig__header {
        align-items: center;
        flex-direction: row;
    }

}