@import "../../styles/variables.scss";

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.home {
    animation: fadein 1s;
}

.home__section {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    min-height: 100vh;
    padding: 5% 0;

    &--main {
        @extend .home__section;
        min-height: calc(100vh - 130px);
    }

    &--reverse {
        @extend .home__section;
        flex-direction: column-reverse;

        .home__section__image {
            display: flex;
            justify-content: center;
        }
    }

}

.home__section__text {
    //padding: 5%;
}

.home__section__image {
    display: flex;
    justify-content: flex-start;
    width: 100%;

    img {
        max-width: fit-content;
        width: 100%;
    }
}


.home__section__testimonials {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: $screen-xl;
    min-height: 100vh;
    padding: 15% 5%;
}

.home__section__trendig {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: $screen-xl;
    min-height: 100vh;
    padding: 15% 5%;
}

.home__section__trendig__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;

    h2 {
        margin: 0;
    }
}

@media only screen and (min-width: $screen-md) {
    .home__section {
        align-items: center;
        justify-content: space-between;
    }

    .home__section__testimonials,
    .home__section__trendig {
        //background-color: rgba(0, 0, 255, .05);
        padding: 5%;
    }

    .home__section--reverse {
        flex-direction: row;

        .home__section__image {
            display: flex;
            justify-content: flex-end;
        }
    }

    .home__section__text {
        width: 50%;
    }

    .home__section__trendig__header {
        align-items: center;
        flex-direction: row;
    }


    .home__plus-dot {
        position: absolute;
        margin: 0 auto;
        width: 100%;
        z-index: 89;

        >div {
            display: block;
            position: absolute;
            left: 50%;
            width: 25px;
            height: 25px;
            background-size: 25px;
        }

        .plus {
            background-image: url('/img/plus.svg');
        }

        .dot {
            background-image: url('/img/dot.svg');
        }

        div:nth-child(1) {
            @extend .plus;
            top: 190px;
            transform: translateX(-140px) rotate(-13deg) translate3d(0, 0, 0);
        }

        div:nth-child(2) {
            @extend .dot;
            top: 450px;
            transform: translateX(-620px);
        }

        div:nth-child(3) {
            @extend .dot;
            top: 720px;
            transform: translateX(-70px) scale(.8);
        }

        div:nth-child(4) {
            @extend .plus;
            top: 1060px;
            transform: translateX(70px);
        }

        div:nth-child(5) {
            @extend .dot;
            top: 1510px;
            transform: translateX(450px) scale(.8);
        }

        div:nth-child(6) {
            @extend .plus;
            top: 2190px;
            transform: translateX(650px);
        }

        div:nth-child(7) {
            @extend .dot;
            top: 2230px;
            transform: translateX(-520px);
        }

        div:nth-child(8) {
            @extend .plus;
            top: 2600px;
            transform: translateX(-150px) rotate(15deg) translate3d(0, 0, 0);
        }

        div:nth-child(9) {
            @extend .dot;
            top: 3250px;
            transform: translateX(550px) scale(1.5);
            z-index: -1;
        }

        div:nth-child(10) {
            @extend .dot;
            top: 3450px;
            transform: translateX(-680px) scale(.8);
        }

        div:nth-child(11) {
            @extend .plus;
            top: 3730px;
            transform: translateX(200px) scale(1.3);
        }

        div:nth-child(12) {
            @extend .plus;
            top: 4150px;
            transform: translateX(-250px) rotate(-3deg) translate3d(0, 0, 0);
        }

        div:nth-child(13) {
            @extend .dot;
            top: 4500px;
            transform: translateX(-630px);
        }

        div:nth-child(14) {
            @extend .dot;
            top: 4770px;
            transform: translateX(200px);
        }
    }
}
