@import "../../styles/variables.scss";

.footer {
    background-color: #F9F9FB;
    box-sizing: border-box;
    width: 100%;

    h5 {
        color: #000000;
        font-family: Mulish;
        font-size: 19px;
        font-style: normal;
        font-weight: bold;
        line-height: 60px;
        margin: 0;
        mix-blend-mode: normal;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        a {
            color: #848484;
            font-family: Mulish;
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: 38px;
            mix-blend-mode: normal;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    }
}

.footer__container {
    margin: 0 auto;
    padding: 0 5%;
}

.footer__container__columns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__container__columns__col {
    box-sizing: border-box;
    min-width: 200px;
    padding: 30px 30px 30px 0;

    &--main {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-width: 200px;
        padding: 30px 30px 30px 0;

        p:last-child {
            margin: 0;
        }
    }
}

.footer__container__logo {
    height: 44px;
    margin: 8px 0;
    width: 44px;
}

.footer__container__divisor {
    background: #C4C4C4;
    height: 0.6px;
}

.footer__container__social {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 5%;

    a {
        margin: 25px 35px 25px 0;
        transition: all .2s ease;

        &:nth-of-type(5) {
            margin-right: 0;
        }

        &:hover {
            opacity: .5;
        }
    }
}

@media only screen and (min-width: $screen-md) {
    .footer__container {
        flex-direction: row;
        max-width: $screen-xl;
    }

    .footer__container__columns {
        flex-direction: row;
        margin-bottom: 50px;
    }

    .footer__container__columns__col--main {
        max-width: 40%;
    }
}